---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import ButtonUp from "../components/ButtonUp.astro"
import { ViewTransitions } from "astro:transitions";

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="lofi">
  <head>
    <BaseHead title={title} description={description} image={image} , ogType={ogType} />
    {TRANSITION_API && <ViewTransitions />}
  </head>
  <body>
    <div class="bg-[#f4f4f4] drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-[#f4f4f4]">
        <Header title={SITE_TITLE} />
        <div class="md:flex md:justify-center">
          <main class="p-6 pt-10 lg:max-w-[950px] max-w-[100vw]">
            <slot />
          </main>
          <div class="gtranslate_wrapper"></div>
<script>window.gtranslateSettings = {"default_language":"pt","languages":["pt","fr","de","it","es","ja","en","nl","zh-CN","hi","ko","no","pl","el","sv","ar"],"wrapper_selector":".gtranslate_wrapper","horizontal_position":"left","vertical_position":"bottom","alt_flags":{"en":"usa","pt":"brazil","es":"argentina"}}</script>
<script src="https://cdn.gtranslate.net/widgets/latest/popup.js" defer></script>
        </div>
        <ButtonUp />
        <Footer />
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>
  </body>
</html>

<style is:global>
  .gt_switcher_wrapper a span {
    color: gainsboro;
  }
  /* Unscoped, delivered as-is to the browser.
  Applies to all <h1> tags on your site. */
  h1 { 
    color: #246249ff
  }
  h2 { 
    color: #2A3179ff
  }
</style>