---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

export interface Props {
	title: string;
	description: string;
	image?: string;
	ogType?: string;
}

const { title, description, image = '/ayrton_senna.jpg', ogType = 'website' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={ogType} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="https://ayrtonsenna-inmemoriam.netlify.app/ayrton_senna.jpg" />

<!-- Twitter -->
<meta name="twitter:card" content="https://ayrtonsenna-inmemoriam.netlify.app/ayrton_senna.jpg">
<meta name="twitter:site" content="@araguaci">
<meta name="twitter:description" content="Um pequena lembrança da carreira e vitórias apos 30 anos da passagem de Aryon Senna (34) em 1 de maio de 1994 - Imola, Itália">
<meta name="twitter:title" content="In Memoriam | Ayrton Senna">
<meta name="twitter:image" content="https://ayrtonsenna-inmemoriam.netlify.app/ayrton_senna.jpg">

